.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
}

.card-todo {
    padding: 4px 12px;
    width: 95%;
    border: 2px solid red;
    border-radius: 50px 20px;
}