@page "/todo"

@using DesafioBlazor.Services
@using DesafioBlazor.Models

@inject ITodoService todoService

<PageTitle>To do (s)</PageTitle>

<h1>Lista</h1>

@if (todoService.GetTodos().Count() == 0) {
    <div class="alert alert-danger mt-4">
        <span class="oi oi-warning me-2" aria-hidden="true"></span>
        Sem to do cadastrados
    </div>
} else {
    <div class="grid-container">
        @foreach (var todo in todoService.GetTodos())
        {
            <div class="card-todo" style="background-color: @todo.HexColor">
                <h1 class="ml-2 mt-1">
                    @todo.Title

                    <span class="oi oi-delete icon-delete" @onclick="() => RemoveTodo(todo)"></span>
                </h1>
                <p>@todo.Text</p>
            </div>
        }
    </div>
}

@code {
    private void RemoveTodo(Todo todo) {
        todoService.DeleteTodo(todo);
    }
}
