@page "/todo"

@using DesafioBlazor.Services

@inject ITodoService todoService

<PageTitle>To do (s)</PageTitle>

<h1>Lista</h1>

@if (todoService.GetTodos().Count() == 0) {
    <div class="alert alert-danger mt-4">
        Sem to do cadastrados
    </div>
} else {
    <div class="grid-container">
        @foreach (var todo in todoService.GetTodos())
        {
            <div class="card-todo" style="background-color: @todo.HexColor">
                <h1 class="ml-2 mt-1">@todo.Title</h1>
                <p>@todo.Text</p>
            </div>
        }
    </div>
}

@code {
    private int currentCount = 0;
}
