@inherits LayoutComponentBase

<PageTitle>DesafioBlazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/V11-0/DesafioBlazor" target="_blank">
                GitHub
                <span class="oi oi-external-link" aria-hidden="true"></span>
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
